div.sidecontent-news{
    margin-top: 70px;
    background-color: rgb(32, 35, 39);
    border-radius: 15px;
    color: white;
}



div.sidecontent-news-title{
    padding: 10px 15px;
    font-weight: 600;
}

div.sidecontent-news-showmore{
    padding: 20px 15px;
    border-top: 0.1px solid rgb(47, 51, 54);
}

div.sidecontent-news-showmore:hover{
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.03);
}

div.sidecontent-news-showmore > a{
    text-decoration: none;

}