div.sidecontent-follows{
    background-color: rgb(32, 35, 39);
    border-radius: 15px;
    color: white;
    margin: 20px 0;
}

div.sidecontent-follows-title{
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
}

div.sidecontent-follows-user{
    border-top: 0.1px solid rgb(47, 51, 54);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.sidecontent-follows-user-follow{
    border: 1px solid rgb(121, 75, 196);
    color: rgb(121, 75, 196);
    padding: 5px 10px;
    border-radius: 20px;
}

div.sidecontent-follows-user-follow:hover{
    background-color: rgba(121, 75, 196, 0.26);
    cursor: pointer;
}

img.sfyii{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

div.sidecontent-follow-showmore{
    padding: 15px;
    border-top: 0.1px solid rgb(47, 51, 54);
}

div.sidecontent-follow-showmore > a{
    text-decoration: none;
}