div.Home{
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 60px 0;
    color: white;
    overflow-y: scroll;
}

@media screen and (min-width: 501px) and (max-width: 987px){
    div.Home{
        width: 90%;
    }
}

@media screen and (min-width: 988px){
    div.Home{
        width: 55%;
    }
}

div.post{
    display: flex;
    border: 0.1px solid rgba(94, 94, 94, 0.473);
    padding: 5px 10px;
}

div.post-right{
    padding: 5px 8px;
}

div.post-left > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

div.post-info{
    display:flex;
    color: gray;
    font-size: 14px;
    justify-content: space-between;
}

div.info-user{
    display: flex;
    justify-content: space-around;
}

div.info-user > *{
    padding-right: 5px;
}

div.info-nick{
    font-weight: 600;
    color: white;
}

div.post-description{
    width: 100%;
    height: auto;
    font-size: 13px;
    margin: 5px 0;
}


div.post-image{
    margin: 10px 0;
}

div.post-image > img{
    width: 100%;
    border-radius: 15px;

}

div.post-social{
    display: flex;
    justify-content: space-between;
}

div.social{
    color: rgb(88, 87, 87);
    display: flex;
}

div.social:hover {
    cursor: pointer;
}

div.social-value{
    font-size: 12px;
    padding-left: 10px;
}

div.heart{
    color: red ;
    transition: 1s;
}

div.navbar-title{
    padding-left: 25px;
    font-weight: 600;
    font-size: 18px;
}